body{
    margin: 0;
}


.browse-container{
    height:100vh;
    width:100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
    font-family: Arial;
    font-style: normal;

    margin: 0;
    padding: 0;
}

nav{
    height:10%;
    width: 99%;

    display: flex;
    justify-content: center;
    padding-top:1vh;

    border-bottom: solid 1px gray;
}


.left-nav-content{
    height:100%;
    width: 45%;

    display:flex;
    justify-content: left;
}

.left-nav-content>i{
    font-size: 2.8em;
    margin-left: 5%;
    align-self: center;
}
.left-nav-content>a>i{
    font-size: 2.8em;
    margin-left: 5%;
}

.left-nav-content>a{
    margin-left: 5%;
    color: white;
    align-self: center;
}

.left-nav-content>a:hover{
    color: grey;
}

.left-nav-content>i:hover{
    color: grey;
    cursor: pointer;
}


.logo{
    filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(208deg) brightness(98%) contrast(98%);
    height: 90%;
    width: 10%;

    display:flex;
    justify-content: center;
}

.right-nav-content{
    height: 50%;
    width: 45%;

    display:flex;
    justify-content: right;
    align-items: baseline;
    font-weight: bold;
    margin-top: 5px;
}

.popup{
    display: none;
    padding-left: 20px;
    padding-right: 15px;
    align-items: center;
    justify-content: center;

}

.right-nav-content>i{
    font-size: 2.8em;
    margin-right: 5%;
    margin-left: 5%;
}

.right-nav-content>i:hover{
    cursor: pointer;
    color: grey;
}

.logout-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.browse-tools{
    height:100%;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.browse-toggles{
    gap: 1.5em;
    width: 30%;
    display: flex;
    justify-content: left;

    margin-left: 2em;
}

button{
    color: white;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
}

.browse-toggles>button{
    width:20%;
    height: 3.5vh;
}

.logout-text{
    padding-right: 10px;
}

.browse-searchbar{
    width: 30%;
    display:flex;
    justify-content: right;

    margin-right: 2em;
}

.browse-searchbar>input{
    width: 50%;
    height: 3.5vh;

    color: white;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 100px;

    text-align: center;
}

.upload-button{
    color: white;
}

header{
    height: 6%;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 2em;
    padding-top: 0.3em;
}


main{
    height: 82vh;
    width: 100%;

    align-items: flex-end;
}

.suggestions-main{
    height: 75%;
    width: 100%;


    align-self: flex-end;
    margin: 2em;
}

.browse-end{
    height: 72%;
    max-height:80%;
    display: flex;
    align-items: flex-end;

    margin: 3%;
}

.suggestions{
    height: auto;
    max-height: 75%;
    width: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 2em;
    overflow: auto;

    margin: 5%;
}

.dailyQuiz
{
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    margin: 0;
}

.dailyQuiz>img{
    max-height:30%;
    max-width: 50%;
}

.dailyQuiz>p{
    width:70%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quizOptions{
    width: 100%;
    height: 40%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    justify-content: center;
}

.quizOptions>button{
    width: 50%;
    height: 60%;

    justify-self: center;
}

.quizOptions>button:hover{
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
}

.franchise-images {
    max-width: 300px;
    max-height: 150px;
}

.franchise-container, .suggestions-container {
    width: 360px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border: 1px solid white;
}

.upload-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    margin: 0;
    justify-content: center;
    align-items: center;
}

.stats{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 250px;
    border: 1px solid white;
    color: white;
    background: #4b4746;
    font-family: Arial;
    justify-content: center;
    align-items: center;
}